.homepage {


  .header {
    height: 12vh;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;

    .logo-container {
      max-width: 350px;
      height: auto;
      flex: 25%;

    }

      .logo {
        padding-right: 0.6rem;
        max-width: 350px;
        height: auto;
        flex: 25%;
        vertical-align: middle;
      }


    .options {

      display: flex;
      font-weight: 200;

      .option {
        align-self: center;
        padding: 0 0.9rem;
        font-size: 0.9rem;
      }
    }
  }

  .main {

    background-image: url("https://picsum.photos/1100/999");
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    display: block;
    width: 100vw;
    height: 88vh;
    text-align: center;
  }
}
