.slide {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  animation: fade 1.5s;
  animation: blowUp 8s ease-in-out;
  animation-fill-mode: forwards;
}

.theShow {
  display: inline-block;
}

@keyframes blowUp {
  100% {
    transform: scale(1.1);
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
